*{
	margin: 0px;
	padding: 0px;
}

.block{
	height: 1820px;
	width: 1920px;
	border: 1px solid black;
	margin: auto;
}
.head{
	height: 450px;

}
.head_text {
  font-size: 31px;
  font-family: "Arial";
  font-weight: bold;
  position: relative;
  left: 413px;
  top: 384px;
  width: 437px;
  height: 29px;
}
.body{
	clear: both;
	height: 800px;
	background-color: rgba(0,0,0,0.1);
	display: flex;



}
.box_one{
	float: left;
	height: 667px;
	width: 330px;
	margin-left: 413px;
	margin-top: 50px;
	background-color: white;

}
.header_one{
	clear: both;
	height: 66px;
	background-color: #2261bf;
	position: absolute;
	width: 330px;

}
.header_one:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #2261bf;
      border-bottom: 100px solid transparent;
      position: relative;
      bottom: -10px;
      left: 155px;
  }

.header_one_text {
  font-size: 24px;
  font-family: "Arial";
  color: rgb( 255, 255, 255);
  line-height: 66px;
   text-align: center;
  text-shadow: 0px -1px 0px rgb( 21, 58, 115 );

  }
.body_one{
    margin: 20px; 
	clear: both;
	padding-top: 80px;
	height: 190px;

}
.body_one_text{
  font-size: 16px;
  font-family: "Arial";
  color: rgb( 77, 77, 77 );
  text-align: left;
  position: relative;
  
 

  
}

.prices_one_text{
	border: 1px solid rgb(230,230,230);
	height: 65px;
	position: relative;
	border-left: none;
    border-right: none;
    margin: auto;
    width: 80%;
    margin-top: 25px;		
  


}
.prices_one_text:before{
	content: "СТОИМОСТЬ";
	position:absolute;
	left: 78px;
	right: 0px;
	top:-10px;
	background: white;
    width: 105px;
    text-align:center;
    font-size: 14px;
    color: #808080
   
  
}	
.prices{
	font-size: 25pt;
	text-align: center;
	margin-top: 18px;
}
.prices_one{
	text-align: center;
	font-size: 18pt
}
.basement_box{
	height: 250px;
}
.small_blue_box{
	margin: auto;
	height: 25px;
	width: 34px;
	color: white;
	background-color: #2261bf;
	border-radius: 3px;
}
.small_blue_box_text{
	margin-top: 25px;
	font-size: 16px;
	font-family: "Arial";
	text-shadow: 0px -1px 0px rgb( 21, 58, 115 );
	text-align: center;
}
.small_blue_box:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-top: 10px solid #2261bf;
      border-bottom: 25px solid transparent;
      position: relative;
      bottom: -15px;
      left: 0px;
  }
.big_box_grey{
margin:auto;
width: 280px;
height: 122px;
background-color: #e5e5e5;
text-align: center;
border-radius: 3px;

}
.big_box_grey:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 140px solid transparent;
      border-right: 140px solid transparent;
      border-top: 25px solid #e5e5e5;
      border-bottom: 25px solid transparent;
      position: relative;
      bottom: -73px;
      left: 0px;
  }
.big_box_grey_text{
	color: black;
	font-size: 18px;
	padding-top: 20px;
	

}
.input_box{
	height: 40px;
	width: 115px;
	margin-left: 108px;
	margin-top: 40px;
	border-radius: 3px;
	background-color: #7eca15;
	border: 1px;
	color: white;
	font-size: 20px;
}
.box_two{
background-color: white;
	float: left;
	height: 706px;
	width: 360px;
	margin-left: 40px;
	margin-top: 30px;

}
.header_two{
	clear: both;
	height: 87px;
	background-color: #f06e05;
	position: absolute;
	width: 360px;
}
.header_two:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #f06e05;
      border-bottom: 100px solid transparent;
      position: relative;
      bottom: -10px;
      left: 170px;
  }

.header_two_text {
  font-size: 24px;
  font-family: "Arial";
  color: rgb( 255, 255, 255);
  position: relative;
 line-height: 87px;
 text-align: center;
   text-shadow: 0px -1px 0px rgb( 21, 58, 115 );
  }

.body_two{
	clear: both;
	padding-top: 80px;
	height: 190px;
	margin: 20px;

}
.body_two_text{
  font-size: 16px;
  font-family: "Arial";
  color: rgb( 77, 77, 77 );
  text-align: left;
  position: relative;
  height:188px;
  margin: 20px; 
  
}

.prices_two_text{
	border: 1px solid rgb(230,230,230);
	height: 65px;
	position: relative;
	border-left: none;
    border-right: none;
    margin: auto;
    width: 80%;
    margin-top: 44px;		
  


}
.prices_two_text:before{
	content: "СТОИМОСТЬ";
	position:absolute;
	left: 78px;
	right: 0px;
	top:-10px;
	background: white;
    width: 105px;
    text-align:center;
    font-size: 14px;
    color: #808080
   
  
}	
.prices{
	font-size: 25pt;
	text-align: center;
	margin-top: 18px;
}
.prices_two{
	text-align: center;
	font-size: 18pt
}
.basement_box{
	height: 250px;
}
.small_red_box{
	margin-top: 5px;
	margin:auto;
	height: 25px;
	width: 34px;
	color: white;
	background-color: #e34742;
	border-radius: 3px;
}
.small_red_box_text{
	margin-top: 25px;
	font-size: 16px;
	font-family: "Arial";
	text-shadow: 0px -1px 0px rgb( 21, 58, 115 );
	text-align: center;
}
.small_red_box:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-top: 10px solid #e34742;
      border-bottom: 25px solid transparent;
      position: relative;
      bottom: -16px;
      left: 0px;
  }
.big_box_grey_two{
	margin:auto;
width: 280px;
height: 122px;
background-color: #e5e5e5;
text-align: center;
border-radius: 3px;

}
.big_box_grey_two:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 140px solid transparent;
      border-right: 140px solid transparent;
      border-top: 25px solid #e5e5e5;
      border-bottom: 25px solid transparent;
      position: relative;
      bottom: -72px;
      left: 0px;
  }
.big_box_grey_text{
	color: black;
	font-size: 18px;
	padding-top: 20px;
	

}
.input_box_two{
	margin:auto;
	height: 40px;
	width: 115px;
	margin-left: 120px;
	margin-top: 40px;
	border-radius: 3px;
	background-color: #7eca15;
	border: 1px;
	color: white;
	font-size: 20px;
}




.box_three{
	background-color: white;
	float: left;
	height: 667px;
	width: 330px;
	margin-left: 40px;
	margin-top: 50px;

}

.body_three_mini_box{
	height: 20px;
	margin: 7px;
}
.body_three_mini_box_img{
	background-image: url(../img/1.png);
	height: 20px;
	width: 10%;
	background-size: contain;
	background-repeat: no-repeat;
	float: left;

}
.body_three_mini_box_text{
	height: 20px;
	width: 90%;
	float: left;
	font-size: 13px;
	font-family: "Arial";
	line-height: 20px;


}
.big_box_grey_three{
margin:auto;
width: 280px;
height: 122px;
background-color: #e5e5e5;
text-align: center;
border-radius: 3px;

}
.big_box_grey_three:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 140px solid transparent;
      border-right: 140px solid transparent;
      border-top: 25px solid #e5e5e5;
      border-bottom: 25px solid transparent;
      position: relative;
      bottom: -73px;
      left: 0px;
  }
.big_box_grey_text_three{
	color: black;
	font-size: 18px;
	padding-top: 20px;